{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length + 1 }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container w-50">    
        <h1 class="mt-5 mb-4">{{ trailers | length + 1 }} iTunes Movie trailers</h1>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ firstTrailer.id }}" class="active"></li>
                {% for trailer in trailers %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ trailer.id }}"></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/movies/{{ firstTrailer.id }}"><img src="{{ firstTrailer.link }}/images/background.jpg" class="d-block w-100" alt="Background Image"></a>
                </div>

                {% for trailer in trailers %}
                    <div class="carousel-item">
                        <a href="movies/{{ trailer.id }}"><img src="{{ trailer.link }}/images/background.jpg" class="d-block w-100" alt="Background Image"></a>
                    </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="text-muted small fixed-bottom">
            <div>Название класса контроллера, который отвечает за отображение этой страницы: {{ className }}</div>
            <div>Название метода контроллера, который отправляет данные на эту страницу: {{ methodName }}</div>
            <div>Текущее время: {{ 'now'|date('H:i:s') }}</div>
            <div>Текущая дата: {{ 'now'|date('d/m/Y') }}</div>
        </div>
    </div>
{% endblock %}
